.drawerBody {
  position: fixed;
  left: 0;
  background-color: hsla(0, 0%, 3%, 1);
  background-color: black;
  z-index: 3;

  height: 100vh;
  font-family: 'BebasNeue-Regular';
  font-size: 52px;
  width: 100vw;
}

.closeDrawerbtn {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.drawerBody div {
  padding: 10px 0px 10px 35px;
}
