.footer {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  background-color: aqua;
  margin-top: auto;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomNavbar {
  display: flex;
  justify-content: space-around;
  font-family: 'BebasNeue-Regular';
  font-size: 22px;
  border-top: 1px solid white;
  padding: 2vw;
}
