.itemWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  font-size: 25px;
}

.totalsWrap {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  border-top: 1px solid white;
  margin-bottom: 50px;
  margin-top: 50px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
}

.imageWrap {
  display: flex;
  flex-direction: column;
}
