.productCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.productInfoTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.productInfo {
  display: flex;
  justify-content: space-between;
}

.productInfo span {
  font-size: 40px;
}

.hr {
  color: white;
  width: 100%;
}

.price {
  font-size: 80px;
}

.name {
  font-size: 65px;
  border-bottom: 2px solid white;
  text-shadow: 4px 1px rgb(24, 24, 24);
  margin-top: 10px;
}

.desc {
  font-size: 30px;
  border-left: 1px solid white;
  padding-left: 10px;
}

.imageWrap {
  margin: 25px 0 25px 0;
}

.addButton {
  background-color: inherit;
  border: none;
  box-shadow: 0 0 10px white;
  color: var(--fontColor);
  border-radius: 15px;
  margin: 0 auto;
  padding: 0 25px 0 25px;
  font-family: 'Teko-Light';
  font-size: 50px;
  transition: ease-in-out 0.3s;
  display: flex;

  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.addButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media only screen and (min-width: 999px) {
  .name {
    font-size: 100px;
    margin-top: 0;
  }

  .desc {
    font-size: 40px;
  }

  .productCard {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .productInfoTop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .productInfo {
    display: flex;
    justify-content: space-between;
  }

  .productInfo span {
    font-size: 55px;
  }

  .imageWrap {
    margin: 25px 50px 25px 0px;
    background-color: rgb(7, 7, 7);
    border-radius: 20px;
    box-shadow: 0 0 10px white;
    padding: 50px;
    flex-grow: 0.5;
  }

  .infoWrap {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;
    flex-grow: 0.3;
    border-left: 2px solid white;
    padding-left: 30px;
  }

  .addButton {
    background-color: inherit;
    border: none;
    box-shadow: 0 0 10px white;
    color: var(--fontColor);
    border-radius: 15px;
    margin: 0 auto;
    padding: 0 25px 0 25px;
    font-family: 'Teko-Light';
    font-size: 50px;
    transition: ease-in-out 0.3s;
    display: flex;

    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
}
